<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <meta charset="utf-8"/>
        <title>{% block title %}Thar She Sews{% endblock %}</title>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
        <!--[if lt IE 9]>
			<script src="/static/scripts/html5shiv.js"></script>
            <script src="/static/scripts/respond.min.js"></script>
		<![endif]-->
        {#<link rel="stylesheet" href="/static/css/non-responsive.css"/>#}
        <link rel="stylesheet" href="/static/css/style.css"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" media="all" />
    </head>

    <body>

        <div class="container">

            <div class="row main-nav">
                {% block menu %}
                    {% include "main-nav.html" %}
                {% endblock menu %}
            </div>

            <div class="row">

				<div class="col-xs-12" id="main-content" style="padding:0 2em 0 4em;">

                    {% if messages|e %}
                        {% for message in messages %}
                        <p class="alert alert-{{ message[1]|e }}">
                            <a class="close" data-dismiss="alert">×</a>
                            {{ message[0]|e }}
                        </p>
                        {% endfor %}
                    {% endif %}

                    {% block content %}
                    {% endblock content %}
                </div>

			</div>

        </div>

        </div>

        <script src="/static/scripts/bootstrap.min.js"></script>

    </body>

</html>